<!doctype html>
<html>
	<%- include block/head_start %>
		<meta name="keywords" content="template">
		<meta name="description" content="template">
		<title><%= title %></title>
	<%- include block/head_end %>
	<body>
		<%- include block/body_header %>
		<section class="section cls">
			<div class="markdown">
				<h2>前言</h2>

<ul>
<li>前言必先水上一水，话说自从接触nodejs，就根本停不下来。</li>
<li>一个前端就能使用的后台语言nodejs，对于前端攻城屎来说真是一大利器</li>
<li>于是便萌发自己建站的想法，东溜溜西扒扒最终找了hexo，一个基于nodejs的静态blog框架</li>
<li>可惜好景不长，hexo不合心意，无奈转投自己开发blog框架</li>
<li>幸好，短期内不需要完善的blog框架，暂不带用户系统，不用数据库系统，</li>
<li>前期主体文章列表页、文章详细页及文章新增编辑管理页（后期版本再迭代吧，没那么多时间 &lt;@>_&lt;@> ）</li>
<li>新的一年2015到了，开战</li>
<li>下面将说明这个自建网站的框架。（请先了解nodejs和express再来浏览下面，不好吃~囧）</li>
<li>前期开发需要：Nodejs,Express,Markdown,restful模型</li>
<li>后期预算开发需要：seajs,mongodb</li>
<li>以下是基础框架根目录及根目录文件 <br />
<code>
root <br />
D  |- bin                    bin目录文件
D  |- common                 公共文件库 <br />
D  |- config                 应用配置文件 <br />
D  |- doc                     服务器相关文档 <br />
D  |- lib                     库 <br />
D  |- node_modules             存放所有的项目依赖库 <br />
D  |- routes                 路由文件(MVC中的C,controller) <br />
D  |- views                    模板文件
D  |- views_md                模板MD文件
F  |- index.js                 程序启动文件 <br />
F  |- package.json             项目依赖配置及开发者信息 <br />
F  |- README.MD             应用说明 <br />
</code></li>
</ul>

<h3>common</h3>

<ul>
<li>img 用于存放站点基本图片</li>
<li>css 站点样式
<ul><li>editor.css 编辑器样式</li>
<li>markdown.css 站点markdown样式</li>
<li>markdown_artical.css 文章markdown样式</li>
<li>style.css 站点基本样式</li></ul></li>
<li>js 脚本目录
<ul><li>jquery.min.js</li></ul></li>
</ul>

<h3>config</h3>

<ul>
<li>暂无介绍</li>
</ul>

<h3>doc</h3>

<ul>
<li>framework.md 站点框架完整文档</li>
</ul>

<h3>lib</h3>

<ul>
<li>暂无介绍</li>
</ul>

<h3>node_modules</h3>

<ul>
<li>各种包依赖库目录，详细见package.json配置文件</li>
</ul>

<h3>routes</h3>

<ul>
<li>restful
index.js api路由入口，其它暂无介绍</li>
<li>index.js 站点路由入口</li>
<li>admin.js 管理路由入口</li>
<li>base.js 站点基础框架路由</li>
<li>blog.js 文章路由</li>
<li>db.js db操作集合</li>
<li>error.js 异常及错误路由</li>
<li>homepage.js 首页路由</li>
<li>user.js 用户系统路由</li>
</ul>

<h3>views</h3>

<ul>
<li>admin 暂无介绍</li>
<li>block
<ul><li>head_start.ejs head头部模板，主要用来控制meta</li>
<li>head_end.ejs head尾部模板，主要用来加载css、js</li>
<li>body_banner.ejs banner模板</li>
<li>body_header.ejs 头部模板</li>
<li>body_footer.ejs 尾部模板</li>
<li>body_list.ejs 文章列表模板（暂不使用）</li>
<li>aside.ejs 右边栏模板</li></ul></li>
<li>blog 文章实际列表目录</li>
<li>blog_block 文章静态页模板</li>
<li>about.ejs 关于我静态页</li>
<li>index.ejs 首页，暂为文章列表页</li>
</ul>

<h3>views_md</h3>

<ul>
<li>blog 文章文档列表目录</li>
<li>nav 导航文档列表目录</li>
</ul>

<h3>根目录文件</h3>

<ul>
<li>index.js 启动文件</li>
<li>package.json 包依赖库配置文件</li>
<li>Profile heroku启动文件</li>
<li>README.md 站点信息</li>
<li>server.bat 本地快速启动服务脚本</li>
</ul>

<p>End time: 2014-01-12</p>
			</div>
		</section>
		<%- include block/body_footer %>
	</body>
</html>o