<!doctype html>
<html>
	<%- include block/head_start %>
		<meta name="keywords" content="template">
		<meta name="description" content="template">
		<title><%= title %></title>
	<%- include block/head_end %>
	<body>
		<%- include block/body_header %>
		<section class="section cls">
			<div class="markdown markdown-1">
				<h3><a href="/widget/commoncode/a2span/0.0.2/index.html" title="A&lt;==&gt;Span">A&lt;==&gt;Span - 0.0.2</a></h3>

<ul>
<li>描述：点击一个a标签，变为span标签，执行函数后从span标签变回a标签</li>
</ul>

<h3><a href="/widget/commoncode/countdown/0.0.1/index.html" title="倒计时">倒计时 - 0.0.1</a></h3>

<ul>
<li>描述：输出一个‘天时分秒’的倒计时，时间到达时执行一个函数</li>
</ul>

<h3><a href="/widget/commoncode/pagerview/0.0.3/index.html" title="分页显示">分页显示 - 0.0.3</a></h3>

<ul>
<li>描述：动态输出分页数，分页功能与当前页逻辑处理分开，便于操作</li>
</ul>

<h3><a href="/widget/commoncode/handlebars/0.0.1/index.html" title="handlebars按需加载">handlebars按需加载 - 0.0.1</a></h3>

<ul>
<li>描述：利用handlebars引擎进行模板加载，有两种加载方式，一种html直接赋值，一种append追加赋值</li>
</ul>

<h3><a href="/widget/commoncode/cookie/0.0.1/index.html" title="cookie操作">cookie操作 - 0.0.1</a></h3>

<ul>
<li>描述：自定义cookie操作对象，便于操作cookie</li>
</ul>

<h3><a href="/widget/commoncode/tools/0.0.1/index.html" title="tools自定义工具函数">tools自定义工具函数 - 0.0.1</a></h3>

<ul>
<li>描述：1.show to hide OR hide to show；2.input必须是数字；3.删除select第一个option，4.判断某个对象是否存在某个类</li>
</ul>

<h3><a href="/widget/commoncode/checkbrowser/0.0.1/index.html" title="检查浏览器类型">检查浏览器类型 - 0.0.1</a></h3>

<ul>
<li>描述：检查浏览器类型，包含android、iphone、ipad、ios等</li>
</ul>

<h3><a href="/widget/commoncode/checkform/0.0.1/index.html" title="检查表单是否通过要求">检查表单是否通过要求 - 0.0.1</a></h3>

<ul>
<li>描述：描述：验证表单-input、select等类型</li>
</ul>

<h3><a href="/widget/commoncode/mousewheel/0.0.1/index.html" title="鼠标滚动事件">鼠标滚动事件 - 0.0.1</a></h3>

<ul>
<li>描述：鼠标滚轮滚动执行事件，同时去除浏览器滚动条滚动</li>
</ul>

<h3><a href="/widget/commoncode/csstemplate/0.0.1/index.html" title="css模板">css模板 - 0.0.1</a></h3>

<ul>
<li>描述：常用的css内容</li>
</ul>

<h3><a href="/widget/commoncode/getimginfo/0.0.1/index.html" title="提前获得图片宽高 - 0.0.1">提前获得图片宽高 - 0.0.1</a></h3>

<ul>
<li>描述：图片未加载完，可以提前获取其宽高</li>
</ul>

<script src="/common/js/demo.js"></script>
			</div>
		</section>
		<%- include block/body_footer %>
	</body>
</html>