<!doctype html>
<html>
	<%- include block/head_start %>
		<meta name="keywords" content="template">
		<meta name="description" content="template">
		<title><%= title %></title>
	<%- include block/head_end %>
	<body>
		<%- include block/body_header %>
		<section class="section cls">
			<div class="markdown">
				<h3><a href="https://github.com/" title="github">Github</a></h3>

<h3><a href="http://wowubuntu.com/markdown/#link" title="markdown">Markdown 语法说明（简体中文版）</a></h3>

<h3><a href="http://nodejs.cn/api/fs/" title="nodejs fs api">Nodejs fs API</a></h3>

<h3><a href="http://wave.webaim.org/" title="网址在线检测">网址在线检测</a></h3>

<h3><a href="http://www.zhinengshe.com/works/3540/zns_demo.html" title="3D图片环">3D图片环</a></h3>

<h3><a href="http://www.dowebok.com/" title="插件、素材、模板">插件、素材、模板</a></h3>

<h3><a href="http://nodejs.org/" title="nodejs">Nodejs官网</a></h3>

<h3><a href="https://developer.mozilla.org/en-US/docs/Web/JavaScript" title="JavaScript">JavaScript</a></h3>

<h3><a href="http://it.webkfa.com/" title="开发常用在线网址">开发常用在线网址</a></h3>

<h3><a href="http://www.zhinengshe.com/" title="智能社">智能社</a></h3>

<h3><a href="http://www.base64-image.de/step-1.php" title="icon转成base64编码">icon转成base64编码</a></h3>

<h3><a href="http://tool.chinaz.com/regex/" title="正则在线测试">正则在线测试</a></h3>

<h3><a href="http://www.kuaidi100.com/openapi/" title="快递查询接口">快递查询接口</a></h3>

<h3><a href="http://qun.qq.com/join.html" title="QQ一键加群">QQ一键加群</a></h3>

<h3><a href="http://www.css88.com/archives/3678" title="console详解">console详解</a></h3>

<script src="/common/js/demo.js"></script>
			</div>
		</section>
		<%- include block/body_footer %>
	</body>
</html>