<!doctype html>
<html>
	<%- include ../block/head_start %>
		<meta name="keywords" content="template">
		<meta name="description" content="template">
		<title>template</title>
	<%- include ../block/head_end %>
	<body>
		<%- include ../block/body_header %>
		<%- include ../block/body_banner %>
		<section class="section cls">
			<div class="markdown-artical">
				<h1><%= title %></h1>
				<h2>title: Hello World</h2>

<p>Welcome to <a href="http://hexo.io/">Hexo</a>! This is your very first post. Check <a href="http://hexo.io/docs/">documentation</a> for more info. If you get any problems when using Hexo, you can find the answer in <a href="http://hexo.io/docs/troubleshooting.html">trobuleshooting</a> or you can ask me on <a href="https://github.com/hexojs/hexo/issues">GitHub</a>.</p>

<h2>Quick Start</h2>

<h3>Create a new post</h3>

<p><code>bash
$ hexo new "My New Post"
</code></p>

<p>More info: <a href="http://hexo.io/docs/writing.html">Writing</a></p>

<h3>Run server</h3>

<p><code>bash
$ hexo server
</code></p>

<p>More info: <a href="http://hexo.io/docs/server.html">Server</a></p>

<h3>Generate static files</h3>

<p><code>bash
$ hexo generate
</code></p>

<p>More info: <a href="http://hexo.io/docs/generating.html">Generating</a></p>

<h3>Deploy to remote sites</h3>

<p><code>bash
$ hexo deploy
</code></p>

<p>More info: <a href="http://hexo.io/docs/deployment.html">Deployment</a></p>
			</div>
		</section>
		<%- include ../block/body_footer %>
	</body>
</html>