<!doctype html>
<html>
	<%- include ../block/head_start %>
		<meta name="keywords" content="template">
		<meta name="description" content="template">
		<title>template</title>
	<%- include ../block/head_end %>
	<body>
		<%- include ../block/body_header %>
		<%- include ../block/body_banner %>
		<section class="section cls">
			<div class="markdown-artical">
				<h1><%= title %></h1>
				<h4>Q1. 模板未解析</h4>

<p><code>
&lt;%- partial('_partial/head') % &gt; <br />
&lt;%- partial('_partial/header', null, {cache: !config.relative_link}) % &gt; <br />
&lt;%- body % &gt; <br />
&lt;% if (theme.sidebar &amp;&amp; theme.sidebar !== 'bottom'){ % &gt; <br />
&lt;%- partial('_partial/sidebar', null, {cache: !config.relative_link}) % &gt; &lt;% } % &gt; <br />
&lt;%- partial('_partial/footer', null, {cache: !config.relative_link}) % &gt; <br />
&lt;%- partial('_partial/mobile-nav', null, {cache: !config.relative_link}) % &gt; <br />
&lt;%- partial('_partial/after-footer') % &gt;
</code></p>

<h5>A1. hexo默认没有依赖，命令行使用npm install安装默认依赖，依赖配置文件是package.json</h5>
			</div>
		</section>
		<%- include ../block/body_footer %>
	</body>
</html>