<!doctype html>
<html>
	<%- include ../block/head_start %>
		<meta name="keywords" content="template">
		<meta name="description" content="template">
		<title>template</title>
	<%- include ../block/head_end %>
	<body>
		<%- include ../block/body_header %>
		<%- include ../block/body_banner %>
		<section class="section cls">
			<div class="markdown-artical">
				<h1><%= title %></h1>
				<ul>
<li>刚想下手准备进一步开发blog时，却发现hexo不是自己想要的东西~</li>
<li>无奈之下，只有弃之~</li>
<li>经过长时间的深思浅想，</li>
<li>觉得基于nodejs不带数据库支持blog框架基本没有，</li>
<li>有的也是不灵活，不便开发~</li>
<li>于是便萌发自己开发一个blog系统，一个单用户的blog系统。</li>
<li>所以，只能跟hexo说拜拜了~</li>
<li>ps: 后期有空再深入了解hexo</li>
</ul>
			</div>
		</section>
		<%- include ../block/body_footer %>
	</body>
</html>